N2YO_API_KEY=N2YO_API_KEY

# Database configuration
DB_HOST=timescaledb
DB_PORT=5432
DB_NAME=satview
DB_USER=postgres
DB_PASSWORD=postgres

DB_DSN=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}